@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEMO SỬ DỤNG ADD-ON SQL SERVER TRÊN APPHARBOR</h1>
    <p class="lead">Hướng dẫn kết nối SQL Server với project và deploy lên AppHarbor</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

